{% extends 'base.html' %} 


{% block rightside %}
<div class="container px-4">
  <div class="card">
    <div class="card-header">
      <p class="card-header-title is-size-4">
        <strong>Topics</strong>
      </p>
    </div>
  </div>
  <div class="mt-4">
    {% for topic in topics %}
    <div class="block">
      <a href="{% url 'topicpage' topic.id %}" class="box">
        <p class="subtitle has-text-black">{{ topic.name }}</p>
      </a>
    </div>
    {% endfor%}
  </div>
</div>
{% endblock %} 


{% block content %}

<div class="container">
  <p class="title">Recently Published Solutions</p>
  {% for question in questions %}
  <div class="block">
    <a href="{% url 'detail' question.id %}">
      <div class="box has-background-dark is-shadowless">
        <p class="subtitle has-text-white">{{ question.name }}</p>
        <div class="level">
          <div class="level-left">
            <div class="level-item">
              <span class="tag has-background-warning">
                <p class="has-text-black">{{ question.platform }}</p>
              </span>
            </div>
          </div>

          <div class="level-right">
            <div class="level-item">
              {% for topic in question.topics.all %}
              <span class="tag has-background-white mx-1">
                <p class="has-text-black">{{ topic.name }}</p>
              </span>
              {% endfor %}
            </div>
          </div>
        </div>
        
      </div>
    </a>
  </div>
  {% endfor%}
</div>

{% endblock%}
